// customize bootstrap variables here:
// Partials to be shared with all .scss files.
@import 'compass/utilities/general/clearfix';  // Better than Drupal's clearfix.
@import 'compass/css3';                        // Use one CSS3 mixin instead of multiple vendor prefixes.
@import 'compass/css3/transform';              // Provides mixins for CSS3 2D and 3D transforms.
@import 'compass/css3/box-sizing';

@import "variables";
@import "bootstrap";
@import 'base/variables';
@import 'base/forms';

// http://css-tricks.com/naming-media-queries/
@mixin breakpoint($point) {
  @if $point == XXL {
    @media screen and (min-width: 1161px) { @content; }
  }
  @if $point == XL {// breakpoint for desktop width according to design.
    @media screen and (max-width: 1161px) and (min-width: 1024px) { @content; }
  }
  @else if $point == L {
    @media screen and (max-width: 1025px) { @content; }
  }
  @else if $point == M {
    @media screen and (max-width: 964px) { @content; }
  }
  @else if $point == S {
    @media screen and (max-width: 768px) { @content; }
  }
  @else if $point == XS {
    @media screen and (max-width: 480px) { @content; }
  }
  @else if $point == H { // 'H' for Height to prevent the shop sub menu opening when the user hasn't got room for scrolling
    @media screen and (max-height: 650px) { @content; }
  }
  @else if $point == HandW { // 'H' for Height and 'W' for Width same as above just for layout purposes on wider screens
    @media screen and (max-height: 650px) and (min-width: 964px) { @content; }
  }
}

// Functions
// ----------------------------------------------------------------------------

// Function to convert px to em values on the fly
// http://thesassway.com/intermediate/responsive-web-design-part-1
@function em($target-px, $context) {
  @return ($target-px / $context) * 1em;
}

// Calculation of percentage.
// $items: number of items element represents.
// $total-items: represents number of total items.
@function calc-percentage ($items, $total-items) {
  $width: $total-items - $items;
  @return ($items / $total-items) * 100%;
}

// **************************** //
// ********** GENERAL ********* //
// **************************** //
.highlighted {
  font-family: $sans-serif-medium;
}

// **************************** //
// ********** HEADER ********** //
// **************************** //
.header-wrapper {
  background: $zb-gray-light;
}

.header {
  max-height: 100px;
}

.logo {
  height: 100px;
  overflow: hidden;

  img {
    padding: 0;
    margin: 0;
    height: 100px;
  }
}

.navbar-brand {
  height: auto;
  padding: 0;
}

.main-menu {
  float: right;

  li {
    float: left;
  }
}

@media (min-width: $screen-sm-min) {
  .navbar-nav {
    float: right;
  }

  .navbar-default .navbar-nav>li>a {
    font-size: 26px;
    font-family: $sans-serif-light;
    font-weight: normal;
    color: $zb-gray;
    padding: 40px 35px;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      text-decoration: underline;
      color: $zb-red-lighter;
    }
  }
}

@include breakpoint(M) {

  .navbar-default .navbar-nav>li>a {
    padding: 40px 22px;
    font-size: 22px;

    &:hover {
      text-decoration: underline;
    }
  }

  .middle-deck--left {
    text-align: center;
  }

  .middle-deck--right .btn {
    float: none !important;
  }

  .middle-deck--right {
    text-align: center;

    .btn {
      float: none;
    }
  }
}

//navbar-collapse in
@include breakpoint(S) {

  .logo {
    height: auto;

    img {
      height: 70px;
    }
  }

  .navbar-collapse.in {
    background: $zb-global;
  }

  .navbar-nav {
    float: right;
    text-align: right;
  }

  .navbar-default .navbar-nav>li>a {
    padding: 12px 22px;
    font-size: 18px;
    color: $zb-white;

    &:hover {
      color: $zb-green;
    }
  }
}

// **************************** //
// ********* MAIN DECK ******** //
// **************************** //
.main-deck {
  margin-bottom: 50px;
  margin-top: 100px;// fixed topbar + 50px
}

// **************************** //
// ******** MIDDLE DECK ******* //
// **************************** //
.middle-deck-wrapper {
  background: $zb-red-lighter;
}

.middle-deck {
  color: $zb-white;
  height: 90px;
  padding: 7px 0 0 0;

  h1 {
    font-family: $sans-serif-light;
    font-size: 30px;
  }
}

.middle-deck--left {
  //float: left;
}

.middle-deck--right {
  padding: 19px 0;

  .btn {
    float: right;
    border: 2px solid $zb-white;
    font-size: 18px;
    background: $zb-red-lighter;
    text-transform: uppercase;
  }
}

.danger {
  color: $zb-red-lighter;
}

// **************************** //
// ********* LOWER DECK ******* //
// **************************** //
.lower-deck {

  text-align: center;

  .danger {
    color: $zb-red-lighter;
    margin-bottom: 20px;
  }

  .icon {

    width: 100px;
    height: 100px;
    display: inline-block;
    background: $zb-red-lighter;
    @include border-radius(50%);
    margin-bottom: 20px;

    &:before {
      font-size: 50px;
      color: #fff;
      margin-left: -22px;
      top: 14px;
    }
  }
}

.front-page--teaser {
  padding: 90px 77px;
  color: $zb-gray-medium-light;
}

// **************************** //
// ********** SECTION ********* //
// **************************** //
.section {
  margin: 0 auto;
  max-width: 1142px;
  width: 100%;
}

// **************************** //
// *********** VIDEO ********** //
// **************************** //
.zenbu-video {
  margin: 0 auto;
  width: auto;
}

.video-wrapper {
  margin-top: 150px;
  margin-bottom: 50px;
}

.video-js {
  background-color: $zb-white !important;
}

.vjs-default-skin div.vjs-big-play-button{
  top: 43%!important;
  left: 50%!important;
  @include border-radius(50%);
  height: 128px !important;
  width: 128px !important;
  margin: -40px 0px 0px -60px!important;
  background: $zb-green;
  border: none !important;


  &:before {
    text-shadow: .0em .0em .0em white !important;
    color: white;
    font-size: 85px;
    line-height: 1.5;
    left: 10px;
  }
}

// **************************** //
// ********** FEATURES ******** //
// **************************** //
.features-wrapper {

  height: 459px;
  @include background-size(contain);
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../images/f1.jpg');
  width: 100%;
  max-width: 100%;
}

.features-wrapper--even {
  .feature-metadata {
    float: right;
    //background-color: $zb-gray-light;
  }
}

.features-wrapper--odd {
  //background-color: $zb-white;
}

.feature-metadata {
  width: 50%;
  margin-top: 10%;
  padding-top: 0%;
  padding-left: 7%;
  padding-right: 5%;
}

.feature-metadata--last {

  .feature-metadata {
    width: 100%;
    text-align: center;
    margin-top: 4%;
  }
}

.f1 {
  background-image: url('../images/f1.jpg');
}

.f2 {
  background-image: url('../images/f2.jpg');
}

.f3 {
  background-image: url('../images/f3.jpg');
}

.f4 {
  background-image: url('../images/f4.jpg');
}

.f5 {
  background-image: url('../images/f5.jpg');
}

.f6 {
  background-image: url('../images/f6.jpg');
}

.feature-header {
  @extend .danger;
}

.feature-subheadline {
  font-size: em(18,14);
  color: $zb-gray-darker;
}

.feature-text {
  color: $zb-gray-darker;
}

// **************************** //
// ********** FEATURES ******** //
// **************************** //
.brand {
  margin-bottom: 30px;
  float: left;
  width: calc-percentage(1,3);
  height: 92px;
}

.brands-main {
  margin-top: 190px;

  p {
    color: $zb-gray-darker;
    padding-right: 100px;
  }
}

.brands {
  margin-top: 57px;
}

// **************************** //
// ********** CONTACT ********* //
// **************************** //
.zenbu-contact {

  input,
  textarea {
    border-color: $zb-gray-light;
    background-color: #fcfcfc;
    margin-bottom: 30px;
    color: $zb-gray-medium-light;
  }
}

.contact-left,
.contact-right {
  float: left;
  color: $zb-gray-medium-light;
  font-size: em(16,14);
  font-family: $sans-serif-light;
  margin-bottom: 20px;
}

.contact-left {
  width: 30%;
}

.contact-right {
  width: 70%;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    $zb-gray-medium-light;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $zb-gray-medium-light;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $zb-gray-medium-light;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    $zb-gray-medium-light;
}

.contact-main {
  margin-top: 190px;

  h2 {
    margin-bottom: 30px;
  }

  a {
    color: $zb-red-lighter;
  }
}










