// ********************** //
// ******* ICONS ******** //
// ********************** //

// In the context of buttons and submit.
.icon {
  font-family: $zb-icon;
  position: relative;

  &:before {
    position: absolute;
    font-size: em(16,14);
  }

  &.icon-social:before {
    content: "\e601";
  }

  &.icon-positioning:before {
    content: "\f004";
  }

  &.icon-traffic:before {
    content: "\e600";
  }

  &.icon-create:before {
    content: "\f055";
  }

  &.icon-upload:before {

  }

  &.icon-save:before {

  }

  &.icon-fb:before {

  }

  &.icon-see:before {
    content: "\f06e";
    margin-left: -33px;
    font-size: em(24,14);
    top: 5px;
  }

  &.icon-edit:before {
    content: "\f040";
  }

  &.icon-analyze:before {
    content: "\f012";
  }

  &.icon-arrowdown:before {
    content: "\f107";
  }

  &.icon-arrowdown--thick:before {
    content: "\f0d7";
  }

  &.icon-arrowup--thick:before {
    content: "\f0d8";
  }

  &.icon-arrowleft--thin:before {
    content: "\f178";
  }

  &.icon-thumbs-up:before {
    content: "\e603";
  }

  &.icon-share:before {
    content: "\f14d";
  }

  &.icon-comment:before {
    content: "\f086";
  }

  &.icon-link:before {
    content: "\e600";
  }

  &.icon-circle-hollow:before {
    content: "\f10c";
  }

  &.icon-geometry:before {
    content: "\e609";
  }

  &.icon-paper-pencil:before {
    content: "\e607";
  }

  &.icon-board:before {
    content: "\e608";
  }

  // Buttons
  &.btn {
    padding: 8px 38px 11px 51px;
    height: 37px;
    //min-width: 182px;

    &:before {
      margin-left: -23px;
    }
  }
}

// TODO: use icon classes.
.form-item.form-type-file {

  label {
    font-family: $zb-icon;
    position: relative;
    width: 100%;
    max-width: 182px;
    padding: 11px;

    &:before {
      position: absolute;
      content: "\f0aa";
      right: 7px;
      font-size: em(20,14);
      top: 9px;
    }
  }
}

// BUTTONS - TODO : move to specific button file.
.btn {
  text-decoration: none;
}





