// ********************** //
// ******* COLORS ******* //
// ********************** //

// ** Global colors ** //

// Blue.
$zb-blue: rgb(15,141,163); //#0f8da3
$zb-blue-light: rgb(132,197,208); //#84c5d0
$zb-blue-dark: rgb(50,91,110); //#325b6e
$zb-blue-middle-dark: rgb(46,112,142);//#2e708e
$zb-blue-darkest: rgb(50,58,69); //#323a45

// Report Blue.
$zb-report-blue: rgb(20,185,214);//#14b9d6;
$zb-report-blue-dark: rgb(0,106,133);//#006a85
$zb-report-blue-darkest: rgb(0,95,119);//#005f77

// Red.
$zb-red: rgb(198,47,69); //#c62f45
$zb-red-light: rgb(199,86,103); //#c75667
$zb-red-lighter: rgb(200,50,75);//#c8324b

// Green.
$zb-green-dark: rgb(31,151,134); //#1f9786
$zb-green-light: rgb(45,186,166); //#2dbaa6
$zb-green: rgb(12,179,178); //0cb3b2

// Purple.
$zb-purple: rgb(104,71,105); //#684769
$zb-purple-light: rgb(146,117,147); //#927593

// Orange.
$zb-orange: rgb(233,133,47); //#e9852f
$zb-orange-light: rgb(232,158,93); //#e89e5d

// White
$zb-white: white;

// Black.
$zb-black: rgb(55,55,55); //#373737
$zb-pitch-black: black;

// Gray.
$zb-gray: rgb(105,114,123); //#69727b
$zb-gray-medium-light: rgb(142,142,142);//#8e8e8e
$zb-gray-light: rgb(247,247,247); //#f7f7f7
$zb-gray-medium: rgb(245,245,245); //#f5f5f5
$zb-gray-dark: rgb(205,205,205); //#cdcdcd
$zb-gray-darker: rgb(125,125,125); //7d7d7d
// ** Components ** //

// Global font color.
$zb-global: $zb-black;

// Social.
$zb-social: $zb-purple;

// Traffic.
$zb-traffic: $zb-orange;

// Positioning.
$zb-positioning: $zb-blue;

// Facebook.
$zb-fb: rgb(59,89,152); //#3b5998

// ********************** //
// ******* FONTS ******** //
// ********************** //

@include font-face("ClearSans Regular", font-files("ClearSans-Regular-webfont.woff", "ClearSans-Regular-webfont.ttf", "fonts/ClearSans-Regular-webfont.svg"), "ClearSans-Regular-webfont.eot");
@include font-face("ClearSans Light", font-files("ClearSans-Light-webfont.woff", "ClearSans-Light-webfont.ttf", "ClearSans-Light-webfont.svg"), "ClearSans-Light-webfont.eot");
@include font-face("ClearSans Medium", font-files("ClearSans-Medium-webfont.woff", "ClearSans-Medium-webfont.ttf", "ClearSans-Medium-webfont.svg"), "ClearSans-Medium-webfont.eot");
@include font-face("ClearSans Bold", font-files("ClearSans-Bold-webfont.woff", "ClearSans-Bold-webfont.ttf", "ClearSans-Bold-webfont.svg"), "ClearSans-Bold-webfont.eot");

$sans-serif: 'ClearSans Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$sans-serif-light: 'ClearSans Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$sans-serif-medium: 'ClearSans Medium', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$sans-serif-bold: 'ClearSans Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;

// Icons.
@font-face {
font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.svg#icomoon') format('svg'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$zb-icon: 'icomoon', $sans-serif;

// ********************** //
// ***** BREADCRUMBS **** //
// ********************** //
$zb-breadcrumb-1: $zb-gray-dark;
$zb-breadcrumb-2: $zb-gray-darker;
$zb-breadcrumb-3: $zb-blue-dark;

// ********************** //
// ******* Z-INDEX ****** //
// ********************** //
$z-index-base: 10;

// Progress bar.
$progress-bar-color : $zb-green;

